* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html, body {
     margin-top: 20px;
}

h1 {
     text-align: center;
     text-transform: uppercase;
     text-decoration: underline;
     text-underline-position: under;
     /* You can adjust the space using the following property */
     text-underline-offset: 0.2em; /* Adjust this value as needed */
 }

 @media (max-width: 776px) {
     h1 {
          font-size: 19px;
     }
 }

 .circle {
     width: 50px;
     height: 50px;
     background-color: #3498db;
     border-radius: 50%;
     position: absolute; /* Position the circle absolutely within the body */
     pointer-events: none; /* Allows click events to pass through the circles */
 }
 
 
 